:root{
  --azulclaro: #b0e1ff;
  --naranja:#fbb273;
  --verde:#8cfe84;
  --morado:#efa3fb;
  --azulmarino: #001f3f;
  --grande: 1rem;
  --mediano: 0.8rem;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: right;
  padding: 10px;
  text-emphasis: bold;
}

ul{
  list-style: none;
  display: flex;

}

li{
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

li:hover{
  background-color: #a4c1ff;
}

.contenedor{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img{
  width: 20%;
  height: auto;
}

.cajita{
  border-radius: 30px;
  margin: 10px;
  padding: 10px;
  align-content: center;
  text-align: center;
}

.titulo-cajita{
  text-decoration: underline;
  color: white;
  text-shadow: #2b3d50 3px 1px;
}


.sistemas {
  background-color: var(--azulclaro);
}

.aplicaciones {
  background-color: var(--naranja);
}

.web {
  background-color: var(--verde);
}

.consultorias {
  background-color: var(--morado);
}
