:root{
  --azulclaro: #7ee8fd;
  --azulmarino: #101348;
  --moradooscuro: #9e19dcef;
  --grande: 1rem;
  --mediano: 0.8rem;
}

ul{
  list-style: none;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

li{
  padding: 0.5rem;
  background: var(--azulclaro);
  color: var(--azulmarino);
  border-radius: 0.5rem;
}

body{
  font-family: 'Arial', sans-serif;
  font-size: var(--grande);
  font-weight: bold;
  background: var(--azulmarino);
  color: var(--azulclaro);
}

section{ 
  font-size: var(--mediano);
  background: #d2a8fd;
  color:var(--azulmarino);
  flex: 1 1 100%;
}

article{ background:var(--moradooscuro);
}

aside{ 
  background: var(--azulclaro);
  color:var(--azulmarino);
  flex: 1 1 100%;
}


a:hover{
  color: var(--moradooscuro);
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
}

.grid{
  display: grid;
  row-gap: 10px;
}

.campo{ 
  display: flex; 
  flex-direction: column; 
  padding: 0 5px; }


@media (min-width: 798px) {
  section {
    flex: 0 0 66.66%;
  }
  
  aside {
    flex: 0 0 33.33%;
  }

  .grid{
    grid-template-columns: repeat(6, 16.66%);
  }

  .nombre{ grid-column: 1 / 4; }
  .correo{ grid-column: 4 / 7; }
  .procede{ grid-column: 1 / 3; }
  .sabor{ grid-column: 3 / 7; }

  .op-procede{display: flex; flex-direction: row; gap: 2px}
}

