:root{
  --azulclaro: #7ee8fd;
  --azulmarino: #001f3f;
  --moradooscuro: #620a8bef;
  --grande: 1rem;
  --mediano: 0.8rem;
}

ul{
  list-style: none;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

li{
  padding: 0.5rem;
  background: var(--azulclaro);
  color: var(--azulmarino);
  border-radius: 0.5rem;
}

body{
  font-family: 'Arial', sans-serif;
  font-size: var(--grande);
  font-weight: bold;
  background: var(--azulmarino);
  color: var(--azulclaro);
}

section{ 
  font-size: var(--mediano);
  background: #d2a8fd;
  color:var(--azulmarino);
}
article{ background:var(--moradooscuro);
}
aside{ 
  background: var(--azulclaro);
  color:var(--azulmarino)
}


a:hover{
  color: var(--moradooscuro);
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
}

section, aside {
  flex: 1 1 100%;
}

@media (min-width: 798px) {
  section {
    flex: 0 0 66.66%;
  }
  
  aside {
    flex: 0 0 33.33%;
  }
}
